{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Document</title>
    <style>body{
    background-image: url('{% static "image/fon44.jpg"%}');
    background-size:100%;
}
</style>
</head>
<body>
    <div ><div class="menu">
        {% if request.user.is_authenticated %}
        <div class="bottom_menu">{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></div>
        <div class="bottom_menu"><a href="{% url 'profile' %}">Профиль</a></div>
        <div class="bottom_menu">Будущие проекты</div>

            {%else%}
            <li class="last"><a href="{% url 'register' %}">Регистрация </a> | <a href="{% url 'login' %}">Войти </a>
            </li>
            {% endif %}
        </div>

    </div>
        {% block content %}
        {% endblock %}
</body>
</html>
