{% extends 'autoparts/base.html' %}
{% block content %}
<h1>Рады приветствовать Вас на выпуском проекте Глубокова Николая Николаевича</h1>
<h3>Вашему вниманию представляется пользовательский журнал автомобилиста. Заполнение данного
    журнала производится после ремонта автолюбителем своего авто. Данный журнал содержит (пусть и не в полной мере)
схемы узлов автомобиля с указанными номерами деталей, а так же их артикулами и названиями для облегченного поиска их на
сайтах интернет-магазинов.</h3>
{% endblock %}