{% extends 'autoparts/base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet"> {% endblock %}
{% block content %}

<div class="cards ">
    <div class="card height">
        {% if user.car_name %}
        <image width="100px" heigth="100px" src="{{user.image.url}}"></image>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>Имя пользователя: {{user.username}}</p>
        <p>Адрес электронной почты: {{user.email}}</p>
        <p>Автомобиль: {{user.car_name}}</p>
        <p>Общие затраты: {{summ}}</p>

        {% else %}
        <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.image %}
            <image width="100px" heigth="100px" src="{{user.image.url}}"></image>

            {% else %}
            <input type="file" name="image">
            {% endif %}

            {{user.first_name}}
            <p>{{user.last_name}}</p>
            <p>Имя пользователя: {{user.username}}</p>
            <p>Адрес электронной почты: {{user.email}}</p>

            {% if user.car_name %}
            <p>Автомобиль:
            <p name="length">{{user.car_name}}</p></p>
            <a href="{% url 'category'%}">Перейти к выбору запчастей</a>
            {% else %}
            <p><select name="length">
                {% for c in car %}
                <option>{{ c.name_car }}</option>
                {% endfor %}
            </select></p>
            {% endif %}
            <br>
            <br>
            <input class='stat' type="submit" value="Изменить">
        </form>
        {%endif%}
    </div>



    {% include 'users/journal.html'%}
</div>
{% endblock %}